* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.main-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.main-wrapper p::-moz-selection, .main-wrapper h2::-moz-selection, .main-wrapper h3::-moz-selection, .main-wrapper h4::-moz-selection, .main-wrapper span::-moz-selection, .main-wrapper input::-moz-selection, .main-wrapper a::-moz-selection, .main-wrapper img::-moz-selection {
  background: #e2ffff;
}

.main-wrapper p::selection, .main-wrapper h2::selection, .main-wrapper h3::selection, .main-wrapper h4::selection, .main-wrapper span::selection, .main-wrapper input::selection, .main-wrapper a::selection, .main-wrapper img::selection {
  background: #e2ffff;
}

.main-wrapper ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

.main-wrapper :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

.main-wrapper ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

.main-wrapper ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

.main-wrapper ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.main-wrapper .content {
  margin: 0 15vw;
}

.main-wrapper .main-top {
  color: #3a3a3c;
  background-image: url(../img/main-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-wrapper h2 {
  font-size: 30px;
  font-weight: bold;
  color: #5d5d6c;
  text-align: center;
}

.main-wrapper .logo {
  padding: 40px 0 30px 0;
}

.main-wrapper p {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #444446;
}

.main-wrapper h4 {
  line-height: 24px;
}

.main-wrapper .h2-span {
  margin-bottom: 60px;
  color: #fff;
  font-weight: 300;
  font-size: 48px;
  text-align: left;
}

.main-wrapper .h2-span .h2-bold {
  display: block;
  font-weight: 400;
}

.main-wrapper .top-content {
  padding-top: 20px;
}

.main-wrapper .top-content .navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-wrapper .top-content .navbar-wrapper .logo {
  padding: 0 0 30px 0;
  display: inline-block;
  font-size: 10px;
}

.main-wrapper .top-content .navbar-wrapper .logo h3 {
  color: #3a3a3c;
  text-align: center;
}

.main-wrapper .top-content .navbar-wrapper .top-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 79%;
}

.main-wrapper .top-content .navbar-wrapper .top-links .icons {
  display: block;
  margin-bottom: 50px;
  font-size: 14px;
}

.main-wrapper .top-content .navbar-wrapper .top-links .icons a {
  color: #3a3a3c;
  margin-left: 16px;
}

.main-wrapper .top-content .navbar-wrapper .top-links .icons a:hover {
  color: #535356;
}

.main-wrapper .top-content .navbar-wrapper .top-links .navbar {
  display: block;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 30px;
}

.main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li {
  list-style: none;
  display: inline-block;
}

.main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #3a3a3c;
  margin-left: 30px;
}

.main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li a::after {
  content: '';
  display: block;
  height: 3px;
  margin-top: 8px;
  background-color: #ee8899;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-transition: -webkit-transform ease .3s;
  transition: -webkit-transform ease .3s;
  transition: transform ease .3s;
  transition: transform ease .3s, -webkit-transform ease .3s;
}

.main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li a:hover {
  color: #6c6c70;
}

.main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.main-wrapper .top-content .text-content {
  margin-top: 160px;
  padding-bottom: 240px;
}

.main-wrapper .top-content form.search-form {
  display: block;
  border: 1px solid #fff;
  background-color: rgba(225, 227, 231, 0.5);
  width: 480px;
  border-radius: 3px;
}

.main-wrapper .top-content form.search-form input.search-input {
  font-weight: 300;
  font-size: 16px;
  padding: 18px 20px;
  width: 92%;
  border: 0;
  display: inline-block;
  background: none;
}

.main-wrapper .top-content form.search-form input.search-input:focus {
  color: #fff;
  outline: 0;
}

.main-wrapper .top-content form.search-form input[type='submit'] {
  background-color: rgba(225, 227, 231, 0);
  color: #fff;
  line-height: 2;
  font-size: 16px;
  border: 0;
  cursor: pointer;
  width: 20px;
}

.main-wrapper .top-content form.search-form input[type='submit']:hover, .main-wrapper .top-content form.search-form input[type='submit']:focus {
  color: #5d5d6c;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.main-wrapper .flex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-wrapper #section-2 {
  background: #5d5d6c;
  color: #fff;
}

.main-wrapper #section-2 p {
  color: #fff;
}

.main-wrapper #section-2 .text-content {
  text-align: center;
}

.main-wrapper #section-2 .text-content .text-content.text-2 {
  padding-top: 32px;
  padding-bottom: 96px;
}

.main-wrapper #section-2 .text-content .text-content.text-2 .text-inner {
  margin-top: 30px;
}

.main-wrapper #section-2 .text-content .text-content.text-2 .text-inner h3 {
  font-size: 24px;
  margin-bottom: 28px;
  color: #d7b5b4;
}

.main-wrapper #section-2 .text-content .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-bottom: 84px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-wrapper #section-2 .text-content .flex-container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 240px;
  text-align: center;
}

.main-wrapper #section-2 .text-content .flex-container .flex .text-inner {
  margin-top: 45px;
  margin-bottom: 40px;
}

.main-wrapper #section-2 .text-content .flex-container .flex .text-inner h3 {
  color: #8e8e98;
  margin-bottom: 30px;
  font-size: 18px;
}

.main-wrapper #section-2 .text-content .flex-container .flex .text-inner p {
  font-size: 18px;
  padding: 0 20px;
}

.main-wrapper #section-2 .text-content .flex-container .flex .button {
  margin: 0 10px;
}

.main-wrapper #section-2 .text-content .flex-container .flex .button a {
  display: block;
  height: 52px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #d7b5b4;
  padding-top: 16px;
  color: #fff;
}

.main-wrapper #section-2 .text-content .flex-container .flex .button a:hover, .main-wrapper #section-2 .text-content .flex-container .flex .button a:focus {
  background-color: #d7b5b4;
  color: #5d5d6c;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-wrapper #section-3 .image-wrapper {
  background: url(../img/section3-croped.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-wrapper #section-3 .image-wrapper .background-image {
  background: rgba(215, 181, 180, 0.93);
  padding: 0 15vw;
}

.main-wrapper #section-3 .image-wrapper .background-image .flex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-wrapper #section-3 .image-wrapper .background-image .flex-2 .text-content {
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.main-wrapper #section-3 .image-wrapper .background-image .flex-2 .text-content h2 {
  margin-bottom: 30px;
}

.main-wrapper #section-3 .image-wrapper .background-image .flex-2 .text-content p.main-p {
  color: #fff;
  margin-bottom: 80px;
}

.main-wrapper #section-3 .image-wrapper .background-image .flex-2 .text-content .store-btn .app-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-wrapper #section-3 .image-wrapper .background-image .flex-2 .text-content .store-btn .app-btn .store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 170px;
  height: 60px;
  background-color: #352a2a;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
}

.main-wrapper #section-3 .image-wrapper .background-image .flex-2 .text-content .store-btn .app-btn .store:nth-child(1) {
  margin-right: 30px;
}

.main-wrapper #section-3 .image-wrapper .background-image .flex-2 .text-content .store-btn .app-btn .store .icon {
  display: inline-block;
  padding: 15px;
}

.main-wrapper #section-3 .image-wrapper .background-image .flex-2 .text-content .store-btn .app-btn .store .store-content p {
  font-size: 12px;
  color: #fff;
}

.main-wrapper #section-3 .image-wrapper .background-image .flex-2 .text-content .store-btn .app-btn .store .store-content h3 {
  font-size: 20px;
}

.main-wrapper #section-3 .image-wrapper .background-image .flex-2 .mobile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-wrapper .separator {
  padding-top: 40px;
  padding-bottom: 25px;
  text-align: center;
}

.main-wrapper #section-4 .background-content {
  background: #e1e3e7;
}

.main-wrapper #section-4 .background-content h2 {
  text-transform: uppercase;
}

.main-wrapper #section-4 .background-content .content .text-content {
  text-align: center;
}

.main-wrapper #section-4 .background-content .content .flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-wrapper #section-4 .background-content .content .flex .single-cart {
  width: 240px;
  height: 240px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-wrapper #section-4 .background-content .content .flex .single-cart .hover-text {
  width: 240px;
  height: 240px;
}

.main-wrapper #section-4 .background-content .content .flex .single-cart .hover-text h4 {
  font-weight: 300;
  margin: 28px 28px 130px 28px;
  font-size: 18px;
  color: #fff;
}

.main-wrapper #section-4 .background-content .content .flex .single-cart .hover-text h4 .h4-bold {
  font-weight: 700;
}

.main-wrapper #section-4 .background-content .content .flex .single-cart .hover-text a {
  display: block;
  margin: 0 28px;
  color: #fff;
  text-decoration: none;
}

.main-wrapper #section-4 .background-content .content .flex .single-cart .hover-text a i {
  margin-right: 10px;
}

.main-wrapper #section-4 .background-content .content .flex .single-cart .hover-text a i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main-wrapper #section-4 .background-content .content .flex .single-cart:hover .hover-text {
  -webkit-transform: translate(0);
          transform: translate(0);
  background: rgba(58, 58, 60, 0.85);
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-wrapper #section-4 .background-content .content .flex .single-cart img {
  position: absolute;
  display: inline;
  top: 0;
  left: 0;
}

.main-wrapper #section-4 .background-content #map-container {
  margin-top: 60px;
}

.main-wrapper #section-4 .background-content #map-container .image-wrapper {
  position: relative;
  width: 100%;
  max-width: 960px;
  height: auto;
  margin: 0 auto;
  left: 0;
  top: 0;
}

.main-wrapper #section-4 .background-content #map-container .image-wrapper img {
  width: 100%;
  position: relative;
}

.main-wrapper #section-4 .background-content #map-container .map-location {
  position: absolute;
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

.main-wrapper #section-4 .background-content #map-container .map-location .map-pin {
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.main-wrapper #section-4 .background-content #map-container .map-location .map-pin p {
  display: none;
  text-transform: uppercase;
  font-size: 12px;
}

.main-wrapper #section-4 .background-content #map-container .map-location .map-pin img:hover, .main-wrapper #section-4 .background-content #map-container .map-location .map-pin img:focus {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  width: 18px;
  height: 22px;
}

.main-wrapper #section-4 .background-content #map-container .map-location .map-pin:hover p {
  display: block;
  width: 20px;
  position: absolute;
  top: -4px;
  right: -22px;
  line-height: 12px;
}

.main-wrapper #section-4 .background-content #map-container .map-location .map-pin .active {
  display: block;
  width: 20px;
  position: absolute;
  top: -4px;
  right: -22px;
  line-height: 12px;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-1 {
  top: 16%;
  right: 16%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-2 {
  top: 27%;
  right: 15%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-3 {
  top: 34%;
  right: 14%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-4 {
  top: 84%;
  right: .7%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-5 {
  top: 79%;
  right: 6.8%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-6 {
  top: 81%;
  right: 8.5%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-7 {
  top: 42%;
  right: 20%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-8 {
  top: 38%;
  right: 23.5%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-9 {
  top: 45.8%;
  right: 24.8%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-10 {
  top: 43%;
  right: 30%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-11 {
  top: 22%;
  right: 32%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-12 {
  top: 35%;
  right: 34%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-13 {
  top: 34%;
  right: 39%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-14 {
  top: 21%;
  right: 43%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-15 {
  top: 29%;
  right: 46%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-16 {
  top: 17%;
  right: 50%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-17 {
  top: 27%;
  right: 51%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-18 {
  top: 32%;
  right: 54.5%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-19 {
  top: 39%;
  right: 45%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-20 {
  top: 46%;
  right: 44%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-21 {
  top: 50%;
  right: 50.5%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-22 {
  top: 69%;
  right: 46%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-23 {
  top: 28%;
  left: 12%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-24 {
  top: 21%;
  left: 18%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-25 {
  top: 40%;
  left: 16.5%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-26 {
  top: 33%;
  left: 25%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-27 {
  top: 62%;
  left: 29%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-28 {
  top: 75%;
  left: 30%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-29 {
  top: 85%;
  left: 26%;
}

.main-wrapper #section-4 .background-content #map-container .map-location.location-30 {
  top: 23%;
  left: 44.2%;
}

.main-wrapper .p-tag {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #444446;
  padding-bottom: 95px;
}

.main-wrapper .p-tag p:nth-child(1) {
  margin-bottom: 30px;
}

.main-wrapper .logo {
  text-align: center;
}

.main-wrapper #section-5 {
  background-image: url(../img/section-5.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-wrapper #section-5 h2 {
  text-transform: uppercase;
}

.main-wrapper #section-5 .background-content {
  background-color: rgba(218, 220, 225, 0.92);
}

.main-wrapper #section-5 .background-content .content {
  padding-bottom: 60px;
}

.main-wrapper #section-5 .background-content .content .text-content {
  margin-bottom: 75px;
}

.main-wrapper #section-5 .background-content .content .flex-2 p {
  width: 50%;
}

.main-wrapper #section-5 .background-content .content .flex-2 p:nth-child(1) {
  margin-right: 20px;
}

.main-wrapper footer .background-content {
  background: #3b3b43;
}

.main-wrapper footer .background-content .content {
  color: #8e8e98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 35px;
}

.main-wrapper footer .background-content .content .logo {
  text-align: left;
  padding-bottom: 15px;
}

.main-wrapper footer .background-content .content h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main-wrapper footer .background-content .content ul li {
  list-style: none;
}

.main-wrapper footer .background-content .content ul li a {
  color: #8e8e98;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.main-wrapper footer .background-content .content ul li a:hover, .main-wrapper footer .background-content .content ul li a:focus {
  text-decoration: underline;
}

.main-wrapper footer .background-content .content .flex-content {
  width: 240px;
}

.main-wrapper footer .background-content .content .flex-countries {
  width: 480px;
}

.main-wrapper footer .background-content .content .flex-grow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main-wrapper footer .background-content .content .flex-grow ul {
  padding-right: 20px;
}

.main-wrapper footer .footer {
  background-color: #35353b;
}

.main-wrapper footer .footer .footer-info {
  margin: 0 15vw;
}

.main-wrapper footer .footer .footer-info p {
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  color: #8e8e98;
  width: 49%;
}

.main-wrapper footer .footer .footer-info a {
  display: inline-block;
  color: #8e8e98;
  text-decoration: none;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .main-wrapper .content {
    width: 960px;
    margin: 0 auto;
  }
  .main-wrapper #section-3 .image-wrapper .background-image {
    padding: 0;
  }
  .main-wrapper #section-3 .image-wrapper .background-image .flex-2 {
    width: 960px;
    margin: 0 auto;
  }
  .main-wrapper footer .footer .footer-info {
    width: 960px;
    margin: 0 auto;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .main-wrapper .top-content .navbar-wrapper {
    display: block;
  }
  .main-wrapper .top-content .navbar-wrapper .logo {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-align-last: left;
  }
  .main-wrapper .top-content .navbar-wrapper .logo img {
    width: 100px;
  }
  .main-wrapper .top-content .navbar-wrapper .top-links {
    width: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
  }
  .main-wrapper .top-content .navbar-wrapper .top-links .icons {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .main-wrapper .top-content .navbar-wrapper .top-links .navbar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-wrapper .top-content .navbar-wrapper .top-links .navbar ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li:nth-child(1) {
    -webkit-animation: links 0.2s ease-in-out forwards;
            animation: links 0.2s ease-in-out forwards;
  }
  .main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li:nth-child(2) {
    -webkit-animation: links 0.4s ease-in-out forwards;
            animation: links 0.4s ease-in-out forwards;
  }
  .main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li:nth-child(3) {
    -webkit-animation: links 0.6s ease-in-out forwards;
            animation: links 0.6s ease-in-out forwards;
  }
  .main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li:nth-child(4) {
    -webkit-animation: links 0.8s ease-in-out forwards;
            animation: links 0.8s ease-in-out forwards;
  }
  .main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li:nth-child(5) {
    -webkit-animation: links 1s ease-in-out forwards;
            animation: links 1s ease-in-out forwards;
  }
  .main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li a {
    margin: 0px 0 20px 0;
    width: 200px;
    font-size: 16px;
  }
  .main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li a:hover, .main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li a:focus {
    color: #141415;
  }
  .main-wrapper .top-content .navbar-wrapper .bars {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 20px;
    width: 30px;
    cursor: pointer;
  }
  .main-wrapper .top-content .navbar-wrapper .bars .bar-1, .main-wrapper .top-content .navbar-wrapper .bars .bar-2, .main-wrapper .top-content .navbar-wrapper .bars .bar-3 {
    display: block;
    height: 3px;
    margin-top: 5px;
    width: 100%;
    background-color: #8e8e98;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 5px;
  }
  .main-wrapper .top-content .navbar-wrapper .bars.active .bar-1 {
    -webkit-transform: translate(5px, 9px) rotate(-45deg);
            transform: translate(5px, 9px) rotate(-45deg);
  }
  .main-wrapper .top-content .navbar-wrapper .bars.active .bar-2 {
    opacity: 0;
  }
  .main-wrapper .top-content .navbar-wrapper .bars.active .bar-3 {
    -webkit-transform: translate(5px, -7px) rotate(45deg);
            transform: translate(5px, -7px) rotate(45deg);
  }
  .main-wrapper .top-content .navbar-wrapper .top-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: navbar .3s forwards;
            animation: navbar .3s forwards;
  }
  .main-wrapper .content {
    margin: 0 10vw;
  }
  .main-wrapper #section-2 .text-content .flex-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .main-wrapper #section-2 .text-content .flex-container .flex {
    margin: 0 20px 30px 20px;
  }
  .main-wrapper #section-3 .image-wrapper .background-image {
    padding: 0 10vw;
  }
  .main-wrapper #section-3 .image-wrapper .background-image .flex-2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-wrapper footer .background-content .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-wrapper footer .background-content .content .flex-content {
    width: 48%;
  }
  .main-wrapper footer .background-content .content .flex-countries {
    width: 100%;
  }
  .main-wrapper footer .background-content .content .flex-countries .flex-grow {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-wrapper footer .background-content .content .flex-countries .flex-grow ul {
    width: 150px;
    margin: 0 20px 20px 0;
  }
  .main-wrapper footer .footer .footer-info {
    margin: 0 10vw;
  }
}

@-webkit-keyframes navbar {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes navbar {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes links {
  0% {
    -webkit-transform: translateX(-20px) rotateY(-50deg);
            transform: translateX(-20px) rotateY(-50deg);
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0deg);
            transform: translateX(0) rotateY(0deg);
  }
}

@keyframes links {
  0% {
    -webkit-transform: translateX(-20px) rotateY(-50deg);
            transform: translateX(-20px) rotateY(-50deg);
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0deg);
            transform: translateX(0) rotateY(0deg);
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .main-wrapper .content {
    margin: 0 5vw;
  }
  .main-wrapper .top-content .navbar-wrapper .top-links .navbar ul li a {
    width: 100%;
  }
  .main-wrapper .top-content form.search-form {
    width: 85vw;
  }
  .main-wrapper #section-2 .text-content .flex-container .flex {
    width: 100%;
  }
  .main-wrapper #section-3 .image-wrapper .background-image {
    padding: 0 5vw;
  }
  .main-wrapper #section-3 .image-wrapper .background-image .flex-2 .text-content {
    width: 100%;
  }
  .main-wrapper #section-3 .image-wrapper .background-image .flex-2 .text-content .store-btn .app-btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main-wrapper #section-4 .background-content #map-container .image-wrapper .map-location img {
    width: 14px;
    height: 18px;
  }
  .main-wrapper #section-4 .background-content #map-container .image-wrapper .map-location img:hover {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  .main-wrapper #section-5 .background-content .content .flex-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .main-wrapper #section-5 .background-content .content .flex-2 p {
    width: 100%;
  }
  .main-wrapper #section-5 .background-content .content .flex-2 p:nth-child(1) {
    margin-bottom: 30px;
  }
  .main-wrapper footer .footer .footer-info {
    margin: 0 5vw;
  }
  .main-wrapper footer .footer .footer-info p {
    width: 100%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .main-wrapper .top-content form.search-form input.search-input {
    width: 85%;
  }
  .main-wrapper #section-2 .text-content .flex-container .flex {
    margin: 0 0 30px 0;
  }
  .main-wrapper #section-3 .image-wrapper .background-image .flex-2 .text-content .store-btn .app-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-wrapper #section-3 .image-wrapper .background-image .flex-2 .text-content .store-btn .app-btn .store {
    margin-bottom: 15px;
  }
  .main-wrapper #section-4 .background-content #map-container .image-wrapper .map-location img {
    width: 12px;
    height: 14px;
    pointer-events: none;
  }
  .main-wrapper #section-4 .background-content #map-container .image-wrapper .map-location .map-pin p {
    font-size: 10px;
    padding-top: 5px;
  }
  .main-wrapper #section-4 .background-content .content .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main-wrapper #section-4 .background-content .content .flex .single-cart {
    width: 100%;
    overflow: hidden;
  }
  .main-wrapper #section-4 .background-content .content .flex .single-cart .hover-text {
    width: 100%;
  }
  .main-wrapper #section-4 .background-content .content .flex .single-cart .image-content img {
    width: 100%;
  }
  .main-wrapper footer .background-content .content .flex-countries .flex-grow ul {
    width: 100px;
  }
}
/*# sourceMappingURL=main.css.map */